################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/var/session/sess_24qmmramnpsp4ac0t4lt9vt037
/var/cache/