<?xml version="1.0" encoding="utf-8"?>
<config>
  <modules>
    <Meteorify_Observerexample>
      <version>0.0.1</version>
    </Meteorify_Observerexample>
  </modules>
  <global>
    <models>
      <meteorifyobserverexample>
        <class>Observerexample_Model</class>
      </meteorifyobserverexample>
    </models>
    <events>
      <customer_register_success>
        <observers>
          <meteorify_observerexample_model_observer>
            <class>Meteorify_Observerexample_Model_Observer</class>
            <method>example</method>
            <type>singleton</type>
          </meteorify_observerexample_model_observer>
        </observers>
      </customer_register_success>
      <checkout_submit_all_after>
        <observers>
          <meteorify_observerexample_model_observer>
            <class>Meteorify_Observerexample_Model_Observer</class>
            <method>example</method>
            <type>singleton</type>
          </meteorify_observerexample_model_observer>
        </observers>
      </checkout_submit_all_after>
    <customer_address_save_after>
        <observers>
            <meteorify_observerexample_model_observer>
                <class>Meteorify_Observerexample_Model_Observer</class>
                <method>onCustomerAddressSaveAfter</method>
                <type>singleton</type>
            </meteorify_observerexample_model_observer>
        </observers>
    </customer_address_save_after>
    </events>
    <helpers>
      <Meteorify_Observerexample>
        <class>Meteorify_Observerexample_Helper</class>
      </Meteorify_Observerexample>
    </helpers>
  </global>
  <admin>
      <routers>
        <adminhtml>
          <args>
            <modules>
              <Meteorify_Observerexample after="Mage_Adminhtml">Meteorify_Observerexample</Meteorify_Observerexample>       
          </modules>
          </args>
        </adminhtml>
      </routers>
    </admin>
</config>
